
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-main-container">
    <section class="latest-post-area pb-120">
        <div class="container no-padding">
            <div class="col-lg-12" style="background-color:white;margin-bottom:10px;padding-bottom:10px;padding-top:10px">
                <div class="news-tracker-wrap"><h4>Giới thiệu về<span style="color:crimson"> Trosaigon.com</span></h4></div>
            </div>
            <div class="row">
                <div class="col-lg-8 post-list">
                    <div class="single-post-wrap">
                        <div class="content-wrap">
                            <h4>Thông tin</h4>
                            <hr />
                            <p>Với mong muốn xây dựng một trang web thật chuyên cung cấp thông tin nhà trọ phòng trọ cho mọi người, khi mà ngày nay nhu cầu nhà trọ phòng trọ ngày càng tăng ở thành phố TP. Hồ Chí Minh.</p>
                            <p>Đối với cách tiếp cận thông tin truyền thống đã không được truyền đến mọi người một cách kịp thời đúng lúc. Chính vì nắm bắt được tình hình thực tế đó mà chúng tôi đã thành lập website Trosaigon.com với mong muốn trở thành một kênh truyền thông phổ biến nhà trọ, phòng trọ hữu ích cho mọi người.</p>
                            <p>Nếu trước đây việc cho thuê nhà, cho thuê phòng trọ đều dán giấy đăng quảng cáo ở các nơi công cộng rất là mất vẽ mỹ quang đô thị. Thì ngày nay các bạn có thể đăng tin trên đây rất tiện lợi, với phương tiện truyền thông được phổ biến rộng rãi tin đăng của bạn sẽ được hàng ngàn người biết đến.</p>
                            <p>Website ra đời sẽ góp phần giải quyết được các vấn đề thuê trọ hiện nay, và giúp mọi người tìm kiếm nhà trọ, chỗ ở phù hợp và dễ dàng. Hy vọng Trosaigon.com sẽ là địa chỉ quen thuộc cho mọi người.</p>
                            <h4>Chức năng chính</h4>
                            <hr />
                            <p><b>- Bạn có thể tìm phòng trọ theo</b></p>
                            <p>+ Loại tin phòng trọ nhà trọ, tìm người ở ghép, tìm nhà cho thuê</p>
                            <p>+ Quận huyện, chuyên mục, theo giá, theo diện tích.</p>
                            <p>+ Lưu tin lại để so sánh và xem sau</p>
                            <p><b>- Đăng tin cho thuê phòng trọ, nhà trọ, nhà nguyên căn, cho thuê căn hộ chung cư với đầy đủ tính năng</b></p>
                            <p>+ Chức năng quản lý bài viết cho mỗi thành viên</p>
                            <p>+ Chức năng đăng tin lên top cho người đăng tin </p>
                            <p>+ Chức năng xóa, sửa..</p>
                        </div>
                        <!-- End single-post Area -->
                    </div>
                </div>
                @Html.Partial("_Rsidebar")
            </div>
        </div>
    </section>
    <!-- End latest-post Area -->
</div>

